In [1]:
import pandas as pd 

df= pd.read_csv(r'C:\Users\sebiy\cp1\cp1_df.csv')
df.head()

C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\1578956000.py:3: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(r'C:\Users\sebiy\cp1\cp1_df.csv')

,Unnamed: 0,"""대여일자"",""대여시간"",""대여소번호"",""대여소명"",""대여구분코드"",""성별"",""연령대코드"",""이용건수"",""운동량"",""탄소량"",""이동거리(M)"",""이용시간(분)""","대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간","""대여일자"",""대여시간"",""대여소번호"",""대여소명"",""대여구분코드"",""성별"",""연령대코드"",""이용건수"",""운동량"",""탄소량"",""이동거리"",""사용시간""","""����뿬�씪�옄"",""����뿬�떆媛�"",""����뿬�냼踰덊샇"",""����뿬�냼紐�"",""����뿬援щ텇肄붾뱶"",""�꽦蹂�"",""�뿰�졊���肄붾뱶"",""�씠�슜嫄댁닔"",""�슫�룞�웾"",""�깂�냼�웾"",""�씠�룞嫄곕━"",""�궗�슜�떆媛�""","����뿬�씪�옄,����뿬�떆媛�,����뿬�냼踰덊샇,����뿬�냼紐�,����뿬援щ텇肄붾뱶,�꽦蹂�,�뿰�졊���肄붾뱶,�씠�슜嫄댁닔,�슫�룞�웾,�깂�냼�웾,�씠�룞嫄곕━,�궗�슜�떆媛�","""대여소"
0,0,"""2022-06-01"",""0"",""00742"",""742. 등촌역 5번 출구 뒤"",""정...",NaN,NaN,NaN,NaN,NaN
1,1,"""2022-06-01"",""0"",""02059"",""2059. 보라매공원 정문"",""정기권...",NaN,NaN,NaN,NaN,NaN
2,2,"""2022-06-01"",""0"",""01349"",""1349. 월계2교 버스정류장 앞"",...",NaN,NaN,NaN,NaN,NaN
3,3,"""2022-06-01"",""0"",""00750"",""750. 연의근린공원 건너편"",""정기...",NaN,NaN,NaN,NaN,NaN
4,4,"""2022-06-01"",""0"",""00755"",""755. 목동1단지아파트 상가 앞"",...",NaN,NaN,NaN,NaN,NaN

In [2]:
df.shape

(75070166, 7)

In [2]:
df.columns

Index(['Unnamed: 0',
       '"대여일자","대여시간","대여소번호","대여소명","대여구분코드","성별","연령대코드","이용건수","운동량","탄소량","이동거리(M)","이용시간(분)"',
       '대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간',
       '"대여일자","대여시간","대여소번호","대여소명","대여구분코드","성별","연령대코드","이용건수","운동량","탄소량","이동거리","사용시간"',
       '"����뿬�씪�옄","����뿬�떆媛�","����뿬�냼踰덊샇","����뿬�냼紐�","����뿬援щ텇肄붾뱶","�꽦蹂�","�뿰�졊���肄붾뱶","�씠�슜嫄댁닔","�슫�룞�웾","�깂�냼�웾","�씠�룞嫄곕━","�궗�슜�떆媛�"',
       '����뿬�씪�옄,����뿬�떆媛�,����뿬�냼踰덊샇,����뿬�냼紐�,����뿬援щ텇肄붾뱶,�꽦蹂�,�뿰�졊���肄붾뱶,�씠�슜嫄댁닔,�슫�룞�웾,�깂�냼�웾,�씠�룞嫄곕━,�궗�슜�떆媛�',
       '"대여소'],
      dtype='object')

In [11]:
df1=df.iloc[:-1,1:2]
df1.head()

  "대여일자","대여시간","대여소번호","대여소명","대여구분코드","성별","연령대코드","이용건수","운동량","탄소량","이동거리(M)","이용시간(분)"
0  "2022-06-01","0","00742","742. 등촌역 5번 출구 뒤","정...
1  "2022-06-01","0","02059","2059. 보라매공원 정문","정기권...
2  "2022-06-01","0","01349","1349. 월계2교 버스정류장 앞",...
3  "2022-06-01","0","00750","750. 연의근린공원 건너편","정기...
4  "2022-06-01","0","00755","755. 목동1단지아파트 상가 앞",...

In [16]:
df1.columns = ["trash"]
df1.tail(1000)

         trash
75069165   NaN
75069166   NaN
75069167   NaN
75069168   NaN
75069169   NaN
...        ...
75070160   NaN
75070161   NaN
75070162   NaN
75070163   NaN
75070164   NaN

[1000 rows x 1 columns]

In [17]:
df1.isnull().sum()

trash    58741909
dtype: int64

In [19]:
df1=df1.dropna()

In [20]:
df1.tail()

                                                      trash
16328251  "2022-01-31","23","00436","436. 이대역 5번출구","정기권...
16328252  "2022-01-31","23","00509","509. 이마트 버스정류소 옆","...
16328253  "2022-01-31","23","00274","274. 영등포역지하쇼핑센타 5번출...
16328254  "2022-01-31","23","03623","3623. 일원에코파크 앞(개포로 ...
16328255  "2022-01-31","23","04527","4527. 목동신시가지아파트6단지"...

In [21]:
df=df1

In [22]:
df["대여일자"] = df.trash.str.split(',').str[0]
df["대여시간"] = df.trash.str.split(',').str[1]
df["대여소번호"] = df.trash.str.split(',').str[2]
df["대여소명"] = df.trash.str.split(',').str[3]
df["대여구분코드"] = df.trash.str.split(',').str[4]
df["성별"] = df.trash.str.split(',').str[5]
df["연령대코드"] = df.trash.str.split(',').str[6]
df["이용건수"] = df.trash.str.split(',').str[7]
df["운동량"] = df.trash.str.split(',').str[8]
df["탄소량"] = df.trash.str.split(',').str[9]
df["이동거리(M)"] = df.trash.str.split(',').str[10]
df["이용시간(분)"] = df.trash.str.split(',').str[11]
df.head()

C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대여일자"] = df.trash.str.split(',').str[0]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대여시간"] = df.trash.str.split(',').str[1]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대여소번호"] = df.trash.str.split(',').str[2]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대여소명"] = df.trash.str.split(',').str[3]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["대여구분코드"] = df.trash.str.split(',').str[4]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["성별"] = df.trash.str.split(',').str[5]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["연령대코드"] = df.trash.str.split(',').str[6]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["이용건수"] = df.trash.str.split(',').str[7]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["운동량"] = df.trash.str.split(',').str[8]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["탄소량"] = df.trash.str.split(',').str[9]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["이동거리(M)"] = df.trash.str.split(',').str[10]
C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\2028139740.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["이용시간(분)"] = df.trash.str.split(',').str[11]

,trash,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,"""2022-06-01"",""0"",""00742"",""742. 등촌역 5번 출구 뒤"",""정...","""2022-06-01""","""0""","""00742""","""742. 등촌역 5번 출구 뒤""","""정기권""","""""","""~10대""","""1""","""48.30""","""0.46""","""1999.70""","""10"""
1,"""2022-06-01"",""0"",""02059"",""2059. 보라매공원 정문"",""정기권...","""2022-06-01""","""0""","""02059""","""2059. 보라매공원 정문""","""정기권""","""""","""~10대""","""1""","""27.47""","""0.23""","""991.00""","""9"""
2,"""2022-06-01"",""0"",""01349"",""1349. 월계2교 버스정류장 앞"",...","""2022-06-01""","""0""","""01349""","""1349. 월계2교 버스정류장 앞""","""정기권""","""""","""~10대""","""1""","""20.63""","""0.20""","""868.17""","""3"""
3,"""2022-06-01"",""0"",""00750"",""750. 연의근린공원 건너편"",""정기...","""2022-06-01""","""0""","""00750""","""750. 연의근린공원 건너편""","""정기권""","""""","""~10대""","""1""","""13.97""","""0.13""","""560.00""","""4"""
4,"""2022-06-01"",""0"",""00755"",""755. 목동1단지아파트 상가 앞"",...","""2022-06-01""","""0""","""00755""","""755. 목동1단지아파트 상가 앞""","""정기권""","""""","""~10대""","""1""","""12.15""","""0.14""","""590.00""","""3"""

In [23]:
del df['trash']

In [24]:
df.tail()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
16328251,"""2022-01-31""","""23""","""00436""","""436. 이대역 5번출구""","""정기권""","""M""","""60대""","""1""","""111.97""","""1.01""","""4350.00""","""28"""
16328252,"""2022-01-31""","""23""","""00509""","""509. 이마트 버스정류소 옆""","""정기권""","""M""","""기타""","""1""","""159.40""","""0.93""","""4025.19""","""21"""
16328253,"""2022-01-31""","""23""","""00274""","""274. 영등포역지하쇼핑센타 5번출구""","""정기권""","""M""","""기타""","""1""","""40.10""","""0.31""","""1350.00""","""12"""
16328254,"""2022-01-31""","""23""","""03623""","""3623. 일원에코파크 앞(개포로 방면)""","""정기권""","""M""","""기타""","""1""","""60.13""","""0.48""","""2080.00""","""25"""
16328255,"""2022-01-31""","""23""","""04527""","""4527. 목동신시가지아파트6단지""","""정기권""","""M""","""기타""","""1""","""19.27""","""0.17""","""715.79""","""4"""

In [25]:
#내보내기
df.to_csv('cp1_df1.csv')

In [26]:
#정류소 데이터
spot_df = pd.read_csv("C:/따릉이 데이터셋/3. 공공자전거 대여소 정보(22.06월 기준).csv",encoding='cp949')

In [27]:
spot_df.head()

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102.0,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR

In [28]:
spot_df.isnull().sum()

대여소\n번호          4
보관소(대여소)명        4
소재지(위치)          3
Unnamed: 3       3
Unnamed: 4       3
Unnamed: 5       3
설치\n시기           5
설치형태          1365
Unnamed: 8    1277
운영\n방식           4
dtype: int64

In [29]:
spot_df = spot_df.dropna(subset=['대여소\n번호','보관소(대여소)명'])
spot_df.isnull().sum()

대여소\n번호          0
보관소(대여소)명        0
소재지(위치)          0
Unnamed: 3       0
Unnamed: 4       0
Unnamed: 5       0
설치\n시기           1
설치형태          1363
Unnamed: 8    1275
운영\n방식           0
dtype: int64

In [30]:
spot_df.columns = ['대여소번호', "대여소명",'위치','상세주소','위도','경도','설치시기','설치형태','거치대수','운영방식']

In [31]:
spot_df.head()

,대여소번호,대여소명,위치,상세주소,위도,경도,설치시기,설치형태,거치대수,운영방식
4,102.0,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
5,103.0,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.55495071,126.9108353,2022-05-03,NaN,14,QR
6,104.0,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.55062866,126.9149857,2022-05-12,NaN,13,QR
7,105.0,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.55000687,126.9148254,2015-09-06,NaN,5,QR
8,106.0,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.54864502,126.9128265,2022-05-12,NaN,12,QR

In [32]:
df.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,"""2022-06-01""","""0""","""00742""","""742. 등촌역 5번 출구 뒤""","""정기권""","""""","""~10대""","""1""","""48.30""","""0.46""","""1999.70""","""10"""
1,"""2022-06-01""","""0""","""02059""","""2059. 보라매공원 정문""","""정기권""","""""","""~10대""","""1""","""27.47""","""0.23""","""991.00""","""9"""
2,"""2022-06-01""","""0""","""01349""","""1349. 월계2교 버스정류장 앞""","""정기권""","""""","""~10대""","""1""","""20.63""","""0.20""","""868.17""","""3"""
3,"""2022-06-01""","""0""","""00750""","""750. 연의근린공원 건너편""","""정기권""","""""","""~10대""","""1""","""13.97""","""0.13""","""560.00""","""4"""
4,"""2022-06-01""","""0""","""00755""","""755. 목동1단지아파트 상가 앞""","""정기권""","""""","""~10대""","""1""","""12.15""","""0.14""","""590.00""","""3"""

In [33]:
df.dtypes
df['대여소번호']=df['대여소번호'].str.replace('"','')
df = df.astype({'대여소번호':'int'})
df.dtypes

C:\Users\sebiy\AppData\Local\Temp\ipykernel_12856\1499326516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['대여소번호']=df['대여소번호'].str.replace('"','')

대여일자       object
대여시간       object
대여소번호       int32
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수       object
운동량        object
탄소량        object
이동거리(M)    object
이용시간(분)    object
dtype: object

In [34]:
spot_df = spot_df.astype({'대여소번호':'int'})
spot_df.dtypes

대여소번호     int32
대여소명     object
위치       object
상세주소     object
위도       object
경도       object
설치시기     object
설치형태     object
거치대수     object
운영방식     object
dtype: object

In [35]:
df_final = pd.merge(df,spot_df, how='right',on='대여소번호')
df_final.head()

,대여일자,대여시간,대여소번호,대여소명_x,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,...,이용시간(분),대여소명_y,위치,상세주소,위도,경도,설치시기,설치형태,거치대수,운영방식
0,"""2022-06-01""","""0""",102,"""102. 망원역 1번출구 앞""","""정기권""","""""","""20대""","""1""","""178.44""","""1.23""",...,"""54""",망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
1,"""2022-06-01""","""0""",102,"""102. 망원역 1번출구 앞""","""정기권""","""F""","""20대""","""1""","""28.73""","""0.27""",...,"""11""",망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
2,"""2022-06-01""","""0""",102,"""102. 망원역 1번출구 앞""","""정기권""","""M""","""20대""","""2""","""47.15""","""0.43""",...,"""11""",망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
3,"""2022-06-01""","""0""",102,"""102. 망원역 1번출구 앞""","""정기권""","""M""","""30대""","""1""","""23.63""","""0.18""",...,"""3""",망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
4,"""2022-06-01""","""0""",102,"""102. 망원역 1번출구 앞""","""일일권""","""""","""20대""","""2""","""128.22""","""1.21""",...,"""43""",망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR

In [37]:
del df_final['설치시기']
del df_final['설치형태']
del df_final['거치대수']
del df_final['대여소명_y']
del df_final['운영방식']

In [91]:
df_final.to_csv('cp1_df2.csv')